html {
    background-color: grey;
}

body {
    height: 95%;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 5em;
}

body {
    max-width: 85%;
    margin: auto;
}
.cv_body {
    max-width: 85%;
    color: floralwhite;
}

h1, h2 {
    text-align: right;
    margin-right: 1rem;
}

.contact_info {
    text-align: right;
    margin: 1rem;
}

.cv_body {
    display: block;
    align-items: stretch;
    margin: auto;

}

.cv_section {
    display: flex;
    margin-bottom: 1em; 
}

.cv_column_1 {
    flex: 1;
    max-width: 11%;
    margin-right: 1em;
    overflow-wrap: break-word;
    hyphens: auto;
}

.cv_column_2 {
    flex: 2;
    display: block;
    
}

.skill_column {
    display: flex;
}

.skill_column_1 {
    flex: 1;
}

.skill_column_2 {
    flex: 2;
}

.skill_list {
    display: flex;
}

ul.no-space {
    padding: 0;
    margin-left: 1em;
}

@media print {    
    body {
        max-width: 100%;
        margin: auto;
        font-size: small;
    }

    .cv_column_1 {
        flex: 1;
        max-width: 15%;
        margin-right: 1em;
        overflow-wrap: break-word;
        hyphens: auto;
    }
}
