html, body {
    height: 95%;
    margin: 0;
}

body {
    display: block;
}

.logo_bar {
    width: 100%;
    height: 5%;
    background: wheat;
}

.main_body {
    margin: 1em;
    display: block;
    align-items: center;
    height: 100%;
}

.content_body {
    margin-top: 1em;
    display: flex;
    align-items: stretch;
    height: 95%;
}

.navbar_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li {
    color:white;
}

.navbar {
    flex: 1;
    background: purple;
}

.right_menu {
    flex: 1;
    background: red;
    max-width: 25%;
}

.content {
    flex: 2;
    background: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content div {
    align-items: space-between;
}

.slider_container {
    width:100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.slider {
    width: 97%;
    appearance: none;
    outline: none;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    height:10px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%; 

  }

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%; 
  }